@media screen and (max-width:991px){
    .nav_topbar .brand-logo {
    display: none;
}
 .navigation-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: black;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navigation-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .navigation-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 20px;
        width: 20px;
    }
    .nav_topbar .brand-container a {
    display: none;
}
.nav_topbar {
    justify-content: center;
}
.navigation-bar {
    justify-content: space-between;
}
.brand-container a {
    display: inline-block;
}
.nav_topbar .social_profile {
    margin-top: 5px;
    margin-bottom: 5px;
}
.common-text {
max-width: 100%;
padding: 0 20px;
}

.common-text h2 {
font-size: 45px;
}
.form-container {
    padding: 0;
}
.contact-us-group {
    padding: 0;
}
.form-image {
    height: 300px;
    margin-bottom: 1.875rem;
}
.maincards .card-grid {
    grid-template-columns: repeat(2, 1fr);
}
.footer-container{
    flex-direction: column;
    flex-wrap: unset;
}
    .footer-container img {
        max-width: 175px;
        margin: 0 auto 20px;
    }
.footer-col h3 {
    margin: 10px 0;
}
}
@media screen and (max-width:749px){
    .article-card {
    width: 100%;
    max-width: 100%;
}
.article-card img {
    height: 350px;
}
    p {
    font-size: 17px;
}
.homebanner {
    height: 500px;
}
     .homebanner_content h1 {
        font-size: 36px;
        line-height: 45px;
    }
}
@media screen and (max-width:595px){
        .brand-container a {
        display: inline-block;
        max-width: 170px;
    }
    .article-card img {
        height: auto;
    }
    .newsletter-section .signform {
    flex-direction: column;
}

.newsletter-section .newsletter-btn {
    width: 100%;
    max-width: 220px;
}
        .maincards .card-grid {
        grid-template-columns: 1fr;
    }
}